<ion-list>
  <ion-item *ngFor="let character of characters">
    <ion-label>
      <h2>{{ character.name }}</h2>
      <p>Height: {{ character.height }}</p>
      <p>Mass: {{ character.mass }}</p>
    </ion-label>
  </ion-item>
</ion-list>
