<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Spaceships</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
